@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

.productTitle{
    text-align: center;
    margin-top: 5rem;
    font-family: "Lalezar", system-ui;
    font-weight: bolder;
    font-style: normal;
    font-size: 3rem;
    letter-spacing: 5px;
}

.smallBar{
    height: 0.4rem;
    border-radius: 20px;
    width: 5rem;
    background-color: #000;
}

.searchComponentHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    margin-top: 4rem;
    font-family: "Lalezar", system-ui;
    font-weight: bolder;
    font-style: normal;
}

.searchBar{
    height:100%;
    outline: 0;
    width: 50rem;
    font-size: large;
    border: 2px solid var(--secondary-color) ;
    box-sizing: border-box;
    border-radius: 0px!important;
}

.searchButton{
    width: 5rem;
    height:100%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: "Lalezar", system-ui;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 1px;
    border: 0;
    transition: background-color ease-in-out 300ms,color ease-in-out 200ms;
    outline: 0;
    
}

.searchButton:hover{
    background-color: var(--accent);
    color: #000;
}