:root{
    --corner-bend-amount:10px
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.card{
    box-shadow: 0px 0px 10px 1px gray;
    border-radius: var(--corner-bend-amount);
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.img{
    max-width: 400px;
    max-height: 200px;
    border-radius: var(--corner-bend-amount);
}