:root{
    --corner-bend-amount:10px
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.card{
    /* border: 2px solid #000; */
    padding: 1rem;
    border-radius: var(--corner-bend-amount);
    width: 400px;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 10px;
    transition: border-color ease 300ms;
}

.card:hover{
    border-color: var(--accent);
}

.img{
    max-width: 200px;
    max-height: 200px;
    border-radius: var(--corner-bend-amount);
}