.searchSvg{
    width: 20px;
    color: white;
}

.category{
    margin:0 1rem;
    padding: 0rem 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    transition: background-color ease 300ms;
}

.category:hover{
    background-color: var(--primary-color)!important;
}