:root{
    --accent:red;
}

.adminButton{
    background-color: transparent;
    transition: background-color ease 300ms;
    color:var(--accent);
    padding: 1rem;
    outline: none;
    border: 1px solid var(--accent);
    border-radius: 20px;
    font-weight: bolder;
}

.adminButton:hover{
    background-color: red;
    color: #fff;
}

.nav{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color:transparent;
    border-bottom: 3px solid var(--accent);
}

.searchInput{
    padding: 0.5rem 1rem;
    border-radius:20px;
    border: 1px solid transparent;
    transition: border ease 300ms;
}

.searchInput:hover{
    border-color: var(--accent);
}

.searchInput:placeholder-shown{
    font-weight: 800;   
}

.adminAndSearchDiv{
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;
}